ul.fork {
  display: inline;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.fork li {
  display: none;
  cursor: pointer;
  animation: fadein 1.5s;
  text-decoration: underline;
}

.fork .selected {
  display: inline;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
