ul.multiverse {
  display: inline;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.multiverse li {
  display: none;
  cursor: pointer;
  text-decoration: underline;
}

.multiverse .selected {
  display: inline;
}
